 <h1>Director #<%= @the_director.id %> details
</h1>
<a href="/directors">Go Back</a>
<dl>
  <dt>Name</dt>
    <dd><%= @the_director.name %></dd>
  
  <dt>Date Of Birth</dt>
    <dd><%= @the_director.dob %></dd>
      
  <dt>Bio</dt>
    <dd><%= @the_director.bio %></dd>

  <dt>Image</dt>
    <dd><img src="<%= @the_director.image %>" alt=""></dd>

  <dt>Created At</dt>
    <dd><img src="<%= @the_director.created_at %>" alt=""></dd>

  <dt>Updated At</dt>
    <dd><img src="<%= @the_director.updated_at %>" alt=""></dd>
</dl>

<% matching_movies = Movie.where({:director_id => @the_director.id})%>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Show Details
    </th>
</tr>
<%= matching_movies.each do |movie|%>
<tr>
  <td><%= movie.id %></td>
  <td><img src="<%= movie.image %>" width="240"></td>
  <td><%= movie.title %></td>
  <td><%= movie.year %></td>
  <td><%= @the_director.name %></td>
  <td><a href="/movies/<%=movie.id%>">Show details</a></td>
<%end%>
</tr>

</table>
